<div>
  <ul id="messages"></ul>
    <form class="form-inline my-2 my-lg-0 bg-inverse" id="form-msg" action="">
      <input id="m" autocomplete="off" class="form-control mr-sm-2" placeholder="type message here..."/><button class="btn btn-outline-success my-2 my-sm-0">Send</button>
    </form>
</div>
