<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                NodeChat - by Bryan Monsalvatge
            </a>
            <form action="" >
                    <label>Nickname: </label>
                    <input type="text" name="nickname">
                    <input type="submit" value="Pick">
            </form>
        </div>
    
    </div>
    </nav>
    