<!-- views/partials/header.ejs -->

<nav class="navbar navbar-toggleable-md navbar-light bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white" href="https://bryanmonsalvatge.com" target="_blank">NodeChat - by Bryan Monsalvatge</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0" id="name-pick">
        <input class="form-control mr-sm-2" id="nickname" type="text" placeholder="Enter Nickname">
        <button class="btn btn-outline-success my-2 my-sm-0"type="submit">Enter</button>
      </form>
    </div>
</nav>
    