<!doctype html>
<html>
  <head>
    <title>NodeChat</title>
    <style>
    </style>
  </head>
  <body>
      <form action="" method="GET">
        <input id="login" autocomplete="off" /><button>Login</button>
      </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io();
        $('form').submit(function(){
          socket.emit('temp login', $('#login').val());
          $('#login').val('');
          return false;
        });
      });
    </script>
  </body>
</html>